.container {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.letters {
  border: 1px solid darkblue;
  background-color: blue;
  color: white;
  font-size: 40px;
  padding: 10px 20px;
  margin: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
}

#formulario {
  width: 900px;
  display: inline-block;
}

#submit {
  padding: 6px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

#submit:hover {
  background-color: black;
  color: white;
}

#conta {
  text-align: center;
}
